@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');

@theme {
  --color-primary: #2C2826;
  --color-secondary: #5C534F;
  --color-bg-base: #FAF7F5;
  --color-accent-soft: #EBE1DA;
  --color-accent-strong: #C4A49A;
  --font-sans: 'Outfit', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    background-color: var(--color-bg-base);
    color: var(--color-primary);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-sans);
  }
}

/* Custom scrollbar to look premium */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: var(--color-bg-base);
}

::-webkit-scrollbar-thumb {
  background: #EBE1DA;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #C4A49A;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #EBE1DA;
  border-radius: 4px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 180s linear infinite;
}